<!doctype html>
<html lang="es">
    <head>
        <title>{{{title}}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" , content="yes">
        <meta name="description" content="Red Social de recetas">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="Shortcut Icon" href="" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/materialize.min.css">
        <link rel="stylesheet" href="/stylesheets/swiper.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel='stylesheet' , type='text/css' , href='/stylesheets/index.css'>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="/javascripts/materialize.min.js"></script>
        <script src="/javascripts/swiper.min.js"></script>
        <script>
            var lista_ingredientes_receta = [];
            var lista_instrucciones_receta = [];
            var lista_videos_receta = [];
        </script>
	</head>
    <body>
        <header id="navbar">
            <div class="login_div" id="login_div">
                <div class="row a">
                    <p class="titulo">Bienvenid@, Ingresa con  tu red social preferida</p>
                </div>
                <div class="row b">
                    <div class="col">
                        <a class="btn google gg" id="btn_google" href="/auth/google"><i class="fab fa-google"></i>Google</a>
                    </div>
                    <div class="col">
                        <a class="btn correo" id="btn_correo"><i class="fab fa-mailchimp"></i>Correo</a>
                    </div>
                </div>
            </div>
            <nav>
                <div class="logo">
                    <p id="btn_DefaultPage">Comida Típica</p>
                </div>
                <div class="busqueda">
                    <form action='/buscaReceta' method="POST" id="formbuscar">
                        <input type="text" id="criterio_busqueda" name="criteriobusqueda" placeholder="Ingresa el nombre de la provincia o canton, ejemplo: Loja" class="input_busqueda browser-default">
                    </form>
                </div>
                <div class="usuario">
                    {{#if data.user}}
                        <div class="user-data">
                            <div>
                                <i class="fas fa-user"></i>
                                <span>{{data.user.nombres}} {{data.user.apellidos}}</span>
                            </div>
                        </div>
                        <div class="user" style="margin-right: 2vw;">
                            <i id="btn_logout" class="fas fa-sign-out-alt"></i>
                        </div>
                    {{else}}
                        <div class="menu">
                            <i id="btn_menu_top"  class="fas fa-arrow-circle-down"></i>
                        </div>
                    {{/if}}
                </div>
            </nav>
        </header>
        <div class="main">
            {{#if data.user}}
                <div class="menu_derecha">
                    <div class="items">
                        <div class="item" id="add_receta">
                            <div class="padre">
                                <i class="fas fa-plus"></i>
                                <span>Añadir</span>
                            </div>
                        </div>
                        <div class="item" id="show_recetas">
                            <div class="padre">
                                <i class="far fa-list-alt"></i>
                                <span>Recetas</span>
                            </div>
                        </div>
                        <div class="item" id="recetas_in_favoritos">
                            <div class="padre">
                                <i class="fas fa-heart"></i>
                                <span>Favoritos</span>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="row recetas_populares">
                <div class="swiper-container swiper_recetas">
                     <div class="swiper-wrapper"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <script>
                    let lista_recetas_slider = {{json data.lista_recetas}};
                    let ranking_recetas = [];
                    let contador = 0;
                    lista_recetas_slider.forEach(function(receta){
                        ranking_recetas.push({
                            id: receta.id,
                            likes: receta.ranking.length
                        });
                    });
                    for(let i=0; i<ranking_recetas.length; i++) {
                        for(let j=i+1; j<ranking_recetas.length; j++) {
                            if(ranking_recetas[i].likes < ranking_recetas[j].likes) {
                                let aux = ranking_recetas[j];
                                ranking_recetas[j] = ranking_recetas[i];
                                ranking_recetas[i] = aux;
                            }
                        }
                    }
                    var swiper = new Swiper('.swiper-container.swiper_recetas', {
                        slidesPerView: 1,
                        spaceBetween: 30,
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        virtual: {
                            slides: (function () {
                                var slides = [];
                                ranking_recetas.forEach(likes => {
                                    if(contador < 10) {
                                        lista_recetas_slider.forEach(function(receta){
                                            if(likes.id === receta.id){
                                                let html  = '<div class="main_slider">';
                                                    html += '   <div class="row main">';
                                                    html += '       <div class="col s3 main">';
                                                    html += '           <div class="row titulo">';    
                                                    html += '               <span class="nombre">'+receta.nombre+'</span> <br>';
                                                    html += '               <span class="apodo">'+receta.apodo+'</span> <br>';
                                                    html += '               <span class="likes">'+receta.ranking.length+' likes</span>';
                                                    html += '           </div>'; 
                                                    html += '       </div>'; 
                                                    html += '       <div class="col s9 main">';
                                                    html += '           <div class="row imagenes">';
                                                    html += '               <div class="col s4">';
                                                    html += '                   <img src="'+receta.fotoa+'">';
                                                    html += '               </div>';
                                                    html += '               <div class="col s4">';
                                                    html += '                   <img src="'+receta.fotob+'">';
                                                    html += '               </div>';
                                                    html += '               <div class="col s4">';
                                                    html += '                   <img src="'+receta.fotoc+'">';
                                                    html += '               </div>';
                                                    html += '           </div>';    
                                                    html += '       </div>';
                                                    html += '   </div>';
                                                    html += '</div>';
                                                slides.push(html);
                                            }
                                        });
                                        contador++;
                                    }
                                });
                                return slides;
                            }()),
                        },
                    });
                </script>
            </div>
            <div class="row recetas_listado">
                <input type="hidden" id="id_usuario" value="{{data.user.id}}">
                <input type="hidden" id="external_id_usuario" value="{{data.user.external_id}}">
                <div class="col s12 recetas">
                    <div class="row">
                        {{#each data.lista_recetas as |receta i|}}
                            <div class="col s3 main">
                                <div class="contenedor">
                                    <div class="section a">
                                        <span class="txt">
                                            <span class="a">{{receta.nombre}}</span> <br>
                                            <span class="b">{{receta.apodo}}</span>
                                        </span>
                                    </div>
                                    <div class="row section b">
                                        <div class="swiper-container swiper_imagenes">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="{{receta.fotoa}}">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="{{receta.fotob}}">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="{{receta.fotoc}}">
                                                </div>
                                            </div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <ul class="collapsible" style="margin:0;">
                                        <li>
                                            <div class="collapsible-header">Ingredientes</div>
                                            <div class="collapsible-body">
                                                <table class="tabla_ingredientes">
                                                    <thead>
                                                        <tr>
                                                            <td>Ingrediente</td>
                                                            <td>Cantidad</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each receta.ingredientes as |ingrediente k|}}
                                                            <tr>
                                                                <td>{{ingrediente.nombre}}</td>
                                                                <td>{{ingrediente.cantidad}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">Instrucciones</div>
                                            <div class="collapsible-body">
												<table class="tabla_ingredientes">
                                                    <thead>
                                                        <tr>
															<td>Item</td>
                                                            <td>Descripción</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each receta.instrucciones as |instruccion l|}}
                                                            <tr>
                                                                <td>{{l}}</td>
                                                                <td>{{instruccion}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
											</div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">Videos</div>
                                            <div class="collapsible-body" style="padding: 0;">
												<div class="swiper-container swiper_video">
													<div class="swiper-wrapper">
														{{#each receta.videos as |video m|}}
															<div class="swiper-slide">
																{{{video}}}
															</div>
														{{/each}}
													</div>
													<!-- Add Arrows -->
													<div class="swiper-button-next video"></div>
													<div class="swiper-button-prev video"></div>
												</div>
											</div>
                                        </li>
                                    </ul>
									<div class="opciones2">
										<div class="likes">
											<div>	
												<i class="far fa-thumbs-up addLikeReceta hide" id="addlikeReceta_{{receta.id}}" data-target="{{receta.id}}"></i>
                                                <i class="fas fa-thumbs-up removeLikeReceta hide" id="removelikeReceta_{{receta.id}}" data-target="{{receta.id}}"></i>
												<span id="totalLikesReceta_{{receta.id}}">{{receta.ranking.length}}</span>
											</div>
										</div>
										<div class="favorito">
											<div>
                                                <i class="fas fa-trash-alt delete_receta hide" id="removeReceta_{{receta.id}}" data-target="{{receta.external_id}}"></i>
                                                <i class="fas fa-heart removeFavorito hide" id="removefavoritoReceta_{{receta.id}}" data-target="{{receta.id}}"></i>
                                                <i class="far fa-heart addFavorito hide" id="addfavoritoReceta_{{receta.id}}" data-target="{{receta.id}}"></i>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        {{/each}}
                        <script>
                            let recetas = {{json data.lista_recetas}};
                            let favoritos = {{json data.user.favoritos}};
                            let rol = parseInt('{{data.user.rol}}');
                            let id_persona = '{{data.user.id}}';
                            recetas.forEach(receta =>{
                                let id_receta = receta.id;
                                let founded = false;
                                let founded2 = false;
                                if(typeof(favoritos) != 'undefined'){
                                    favoritos.forEach(favorito => {
                                        if(id_receta == favorito.id_receta){
                                            $('#removefavoritoReceta_'+id_receta).removeClass('hide');
                                            founded = true;
                                        }
                                    });
                                    if(founded == false) {
                                        $('#addfavoritoReceta_'+id_receta).removeClass('hide');
                                    }
                                }
                                if(typeof(id_persona) != 'undefined'){
                                    receta.ranking.forEach(like => {
                                        if(id_receta == like.id_receta && like.id_persona == id_persona){
                                            $('#removelikeReceta_'+id_receta).removeClass('hide');
                                            founded2 = true;
                                        }
                                    });

                                    if(founded2 == false) {
                                        $('#addlikeReceta_'+id_receta).removeClass('hide');
                                    }
                                }else{
                                    $('#addlikeReceta_'+id_receta).removeClass('hide');
                                }

                                if(rol == 1) {
                                    $('#removeReceta_'+id_receta).removeClass('hide');
                                }else{
                                    $('#removeReceta_'+id_receta).addClass('hide');
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="modale" id="modal_addreceta">
            <div class="modale_content modal_addreceta">
                <div class="snackbar">
                    <div class="bar">
                        <div class="name">
                            <span>Administrar Receta</span>
                        </div>
                        <div class="opciones">
                            <i class="far fa-check-square" id="guardar_receta"></i>
                            <i class="far fa-window-close cerrar_modal" data-target="modal_addreceta"></i>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <form class="col s12" id="registrar_receta">
                            <input type="hidden" value="0" id="external_id_receta_reg">
                            <input type="hidden" value="0" id="id_receta">
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="titulo">Datos generales</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Páis" id="pais" type="text" value="Ecuador" disabled>
                                    <label for="pais">¿De que país es la receta?</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Provincia" id="provincia" type="text">
                                    <label for="provincia">¿De que provincia proviene?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Cantón" id="canton" type="text">
                                    <label for="canton">¿De que cantón proviene?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Nombre" id="nombre" type="text">
                                    <label for="nombre">¿Cuál es el nombre de la receta?</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Apodo" id="apodo" type="text">
                                    <label for="apodo">¿Cuál es el apodo de la receta?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="titulo">Ingredientes de la receta</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Nombre del ingrediente" id="ing_nombre" type="text">
                                    <label for="ing_nombre">¿Cuál es el nombre del ingrediente?</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Cantidad, Ejemplo: 2 cucharadas" id="ing_cantidad" type="text">
                                    <label for="ing_cantidad">¿Cuál es la cantidad del ingrediente?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 button_div">
                                    <a class="waves-effect waves-light btn button_add" id="add_ing"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <table id="table_ings" class="table_ings">
                                        <thead class="table_ingHead">
                                            <tr>
                                                <td>Ingrediente</td>
                                                <td>Cantidad</td>
                                                <td>Opciones</td>
                                            </tr>
                                        </thead>
                                        <tbody class="table_ingBody" id="table_ingBody"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="titulo">Instrucciones de la receta</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Instrucción de la receta" id="ins_item" type="text">
                                    <label for="ins_item">¿Cuáles es la instrucción?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 button_div">
                                    <a class="waves-effect waves-light btn button_add" id="add_ins"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <table id="table_ins" class="table_ings">
                                        <thead class="table_insHead">
                                            <tr>
                                                <td>Instrucción</td>
                                                <td>Opciones</td>
                                            </tr>
                                        </thead>
                                        <tbody class="table_insBody" id="table_insBody"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="titulo">Contenido Multimedia - videos</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Copia el código de inserción del video en Youtube" id="vid_item" type="text">
                                    <label for="vid_item">¿Cuál es el código de inserción del video en Youtube?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 button_div">
                                    <a class="waves-effect waves-light btn button_add" id="add_vid"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <table id="table_vid" class="table_ings">
                                        <thead class="table_vidHead">
                                            <tr>
                                                <td>Código</td>
                                                <td>Opciones</td>
                                            </tr>
                                        </thead>
                                        <tbody class="table_vidBody" id="table_vidBody"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p class="titulo">Contenido Multimedia - imágenes</p>
                                </div>
                            </div>
                            <div class="row photo_div">
                                <div class="col s4 item">
                                    <input type="file" class="hide" id="input_a" accept="image/jpg">
                                    <input type="hidden" id="foto_a_url" value="" name="foto_a_url">
                                    <div class="preview a" id="input_a_preview">
                                        <i class="fas fa-camera-retro btn_addphoto" data-target="input_a"></i>
                                    </div>
                                </div>
                                <div class="col s4 item">
                                    <input type="file" class="hide" id="input_b" accept="image/jpg">
                                    <input type="hidden" id="foto_b_url" value="" name="foto_b_url">
                                    <div class="preview b" id="input_b_preview">
                                        <i class="fas fa-camera-retro btn_addphoto" data-target="input_b"></i>
                                    </div>
                                </div>
                                <div class="col s4 item">
                                    <input type="file" class="hide" id="input_c" accept="image/jpg">
                                    <input type="hidden" id="foto_c_url" value="" name="foto_c_url">
                                    <div class="preview c" id="input_c_preview">
                                        <i class="fas fa-camera-retro btn_addphoto" data-target="input_c"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modale" id="modal_favoritos">
            <div class="modale_content modal_addreceta">
                <div class="snackbar">
                    <div class="bar">
                        <div class="name">
                            <span>Recetas Favoritas</span>
                        </div>
                        <div class="opciones">
                            <i class="far fa-window-close cerrar_modal" data-target="modal_favoritos"></i>
                        </div>
                    </div>
                </div>
                <div class="body recetas_listado" style="padding: 0vw;">
                    <div class="recetas" style="padding: 2vw 2vw;">
                        <div class="row">
                            {{#each data.user.favoritos as |favorito i|}}
                                <div class="col s6 main">
                                    <div class="contenedor">
                                        <div class="section a">
                                            <span class="txt">
                                                <span class="a">{{favorito.receta.nombre}}</span> <br>
                                                <span class="b">{{favorito.receta.apodo}}</span>
                                            </span>
                                        </div>
                                        <div class="row section b">
                                            <div class="swiper-container swiper_imagenes">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <img src="{{favorito.receta.fotoa}}">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="{{favorito.receta.fotob}}">
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="{{favorito.receta.fotoc}}">
                                                    </div>
                                                </div>
                                                <!-- Add Arrows -->
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <ul class="collapsible" style="margin:0;">
                                            <li>
                                                <div class="collapsible-header">Ingredientes</div>
                                                <div class="collapsible-body">
                                                    <table class="tabla_ingredientes">
                                                        <thead>
                                                            <tr>
                                                                <td>Ingrediente</td>
                                                                <td>Cantidad</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each favorito.receta.ingredientes as |ingrediente k|}}
                                                                <tr>
                                                                    <td>{{ingrediente.nombre}}</td>
                                                                    <td>{{ingrediente.cantidad}}</td>
                                                                </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">Instrucciones</div>
                                                <div class="collapsible-body">
                                                    <table class="tabla_ingredientes">
                                                        <thead>
                                                            <tr>
                                                                <td>Item</td>
                                                                <td>Descripción</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each favorito.receta.instrucciones as |instruccion l|}}
                                                                <tr>
                                                                    <td>{{l}}</td>
                                                                    <td>{{instruccion}}</td>
                                                                </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">Videos</div>
                                                <div class="collapsible-body" style="padding: 0;">
                                                    <div class="swiper-container swiper_video">
                                                        <div class="swiper-wrapper">
                                                            {{#each favorito.receta.videos as |video m|}}
                                                                <div class="swiper-slide">
                                                                    {{{video}}}
                                                                </div>
                                                            {{/each}}
                                                        </div>
                                                        <!-- Add Arrows -->
                                                        <div class="swiper-button-next video"></div>
                                                        <div class="swiper-button-prev video"></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="modale" id="modal_misrecetas">
            <div class="modale_content modal_addreceta">
                <div class="snackbar">
                    <div class="bar">
                        <div class="name">
                            <span>Mis recetas</span>
                        </div>
                        <div class="opciones">
                            <i class="far fa-window-close cerrar_modal" data-target="modal_misrecetas"></i>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <table>
                        <thead>
                            <tr>
                                <td style="text-align:center;">Item</td>
                                <td style="text-align:center;">Nombre</td>
                                <td style="text-align:center;">Apodo</td>
                                <td style="text-align:center;">Opciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.user.recetas as |mireceta s|}}
                                <tr>
                                    <td style="text-align:center;">{{s}}</td>
                                    <td style="text-align:center;">{{mireceta.nombre}}</td>
                                    <td style="text-align:center;">{{mireceta.apodo}}</td>
                                    <td style="text-align:center;"><i class="fas fa-pen-square" id="editReceta_{{mireceta.id}}" style="cursor:pointer;"></i></td>
                                </tr>
                                <script>
                                    $('#editReceta_{{mireceta.id}}').click(function(){
                                        $('#id_receta').val('{{mireceta.id}}');
                                        $('#external_id_receta_reg').val('{{mireceta.external_id}}');
                                        $('#pais').val('{{mireceta.pais}}');
                                        $('#provincia').val('{{mireceta.provincia}}');
                                        $('#canton').val('{{mireceta.canton}}');
                                        $('#nombre').val('{{mireceta.nombre}}');
                                        $('#apodo').val('{{mireceta.apodo}}');
                                        //Ingredientes
                                        let aux_lista = {{json mireceta.ingredientes}};
                                        aux_lista.forEach(function(ingrediente){
                                            let new_ing = {
                                                pos: (lista_ingredientes_receta.length > 0) ? lista_ingredientes_receta.length : 0,
                                                nombre: ingrediente.nombre,
                                                cantidad: ingrediente.cantidad
                                            };
                                            let html  = '<tr id="ing_at_'+new_ing.pos+'">';
                                                html += '   <td>'+new_ing.nombre+'</td>';
                                                html += '   <td>'+new_ing.cantidad+'</td>';
                                                html += '   <td class="icono"><i class="fas fa-trash-alt delete_item_ing" data-target="'+new_ing.pos+'"></i></td>';
                                                html += '</tr>';
                                            lista_ingredientes_receta.push(new_ing);
                                            $('#table_ingBody').append(html);
                                        });

                                        //Instrucciones
                                        let aux_lista2 = {{json mireceta.instrucciones}};
                                        aux_lista2.forEach(function(instruccion){
                                            let new_ins = {
                                                pos: (lista_instrucciones_receta.length > 0) ? lista_instrucciones_receta.length : 0,
                                                instruccion: instruccion
                                            };
                                
                                            let html  = '<tr id="ins_at_'+new_ins.pos+'">';
                                                html += '   <td>'+new_ins.instruccion+'</td>';
                                                html += '   <td class="icono"><i class="fas fa-trash-alt delete_item_ins" data-target="'+new_ins.pos+'"></i></td>';
                                                html += '</tr>';
                                            lista_instrucciones_receta.push(new_ins);
                                            $('#table_insBody').append(html);
                                        });

                                        //Videos
                                        let aux_lista3 = {{json mireceta.videos}};
                                        aux_lista3.forEach(function(video){
                                            let new_video = {
                                                pos: (lista_videos_receta.length > 0) ? lista_videos_receta.length : 0,
                                                video: video
                                            };
                                
                                            let html  = '<tr id="vid_at_'+new_video.pos+'">';
                                                html += '   <td>'+new_video.video+'</td>';
                                                html += '   <td class="icono"><i class="fas fa-trash-alt delete_item_vid" data-target="'+new_video.pos+'"></i></td>';
                                                html += '</tr>';
                                                lista_videos_receta.push(new_video);
                                            $('#table_vidBody').append(html);
                                        });
                                        //Imagenes
                                        $('#foto_a_url').val('{{mireceta.fotoa}}');
                                        $('#foto_b_url').val('{{mireceta.fotob}}');
                                        $('#foto_c_url').val('{{mireceta.fotoc}}');

                                        $('#input_a_preview').css('background-image', 'url({{mireceta.fotoa}})');
                                        $('#input_a_preview').css('background-size', '100% 100%');
                                        $('#input_a_preview').css('background-repeat', 'no-repeat');

                                        $('#input_b_preview').css('background-image', 'url({{mireceta.fotob}})');
                                        $('#input_b_preview').css('background-size', '100% 100%');
                                        $('#input_b_preview').css('background-repeat', 'no-repeat');

                                        $('#input_c_preview').css('background-image', 'url({{mireceta.fotoc}})');
                                        $('#input_c_preview').css('background-size', '100% 100%');
                                        $('#input_c_preview').css('background-repeat', 'no-repeat');

                                        $('#modal_misrecetas').removeClass('active');
                                        $('#modal_addreceta').addClass('active');
                                    });
                                </script>
                            {{/each}}
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
        <div class="modale" id="modal_login">
            <div class="modale_content modal_addreceta" style="height: 20vw;">
                <div class="snackbar">
                    <div class="bar">
                        <div class="name">
                            <span>Iniciar sesión</span>
                        </div>
                        <div class="opciones">
                            <i class="far fa-window-close cerrar_modal" data-target="modal_login"></i>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <form class="col s12" action="/auth/login" method="POST">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="ejemple@ejemplo.com" id="username" type="text" name="username">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Password" id="password" type="password" name="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row right">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>   
            </div>
        </div>
	    <script src="/javascripts/index.js"></script>
        <script>
			var swiper = new Swiper('.swiper-container.swiper_imagenes', {
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});

			var swiper_v = new Swiper('.swiper-container.swiper_videos', {
				navigation: {
					nextEl: '.swiper-button-next.video',
					prevEl: '.swiper-button-prev.video',
				},
			});
        </script>
    </body>
</html>