body {
  padding: 0;
  margin: 0;
}

#btn_DefaultPage {
  user-select: none;
  cursor: pointer;
}

.login_div {
  position: absolute;
  height: 7vw;
  transform: translateY(-100%);
  width: 100%;
  z-index: 100;
  background: #fff;
  top: 0;
  transition: all .5s .5s;
}

.login_div.active {
  transform: translateY(0%);
  transition: all .5s .5s;
}

.login_div .row.a {
  margin: 0;
  display: flex;
  height: 3vw;
  align-items: flex-end;
}

.login_div .row.a .titulo {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 1vw;
  font-weight: 800;
}

.login_div .row.b {
  margin: 0;
  height: 4vw;
  display: flex;
  align-content: center;
  flex-flow: column wrap;
}

.login_div .row.b .col {
  height: 100%;
  padding: 0 1vw;
  display: flex;
  align-items: center;
}

.login_div .row.b .col a i  {
  font-size: 1vw;
  margin-right: .5vw;
}

.login_div .row.b .col a.facebook {
  height: 2vw;
  font-size: 1vw;
  text-transform: none;
  line-height: 2vw;
  background: #3b5998 !important;
}

.login_div .row.b .col a.google {
  height: 2vw;
  font-size: 1vw;
  text-transform: none;
  line-height: 2vw;
  background: #db4a39 !important;
}

.login_div .row.b .col a.correo {
  height: 2vw;
  font-size: 1vw;
  text-transform: none;
  line-height: 2vw;
  background: #ee6e73 !important;
}

nav {
  height: 4vw;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  background: linear-gradient(to right, #FF5B7F, #FC9970) !important;
  margin-top: 0;
  transition: all .5s .5s;
}

header {
  transition: all .5s .5s;
}

header.active {
  transition: all .5s .5s;
}

header.active nav {
  margin-top: 7vw;
  transition: all .5s .5s;
}

nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

nav .logo p {
  margin: 0;
  font-size: 1vw;
  font-weight: 800;
}

nav .busqueda {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .busqueda input {
  padding: .6vw 1vw;
  width: 28vw;
  border: none;
  border-radius: .6vw;
  font-size: .9vw;
}

nav .usuario {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  align-content: space-evenly;
  width: 16vw;
}

nav .usuario .user-data {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  width: 11vw;
}

nav .usuario .user-data div {
  width: 100%;
  height: 100%;
}

nav .usuario .user-data div i {
  font-size: 1.1vw;
  margin-right: .5vw;
  height: auto;
  line-height: unset;
  display: inline-block;
}

nav .usuario .user-data div span {
  font-size: 1vw;
  line-height: 1.3vw;
  user-select: none;
}

nav .usuario .menu {
  height: 100%;
  display: flex;
  align-items: center;
  width: 2vw;
}

nav .usuario .menu i {
  font-size: 1.3vw;
  line-height: 1.3vw;
  display: block;
  height: auto;
  margin: 0 auto;
}

nav .usuario .menu i:hover  {
  cursor: pointer;
}

nav .usuario .user {
  height: 100%;
  display: flex;
  align-items: center;
  width: 2vw;
  text-align: center;
}

nav .usuario .user i {
  font-size: 1.3vw;
  line-height: 1.3vw;
  display: block;
  height: auto;
  margin: 0 auto;
}

nav .usuario .user i:hover {
  cursor: pointer;
}

.menu_derecha {
  position: fixed;
  background:linear-gradient(to right, #FF5B7F, #FC9970) !important;
  right: 0;
  top: calc(50% - 7.5vw);
  border-bottom-left-radius: .8vw;
  border-top-left-radius: .8vw;
  z-index: 999;
}

.menu_derecha .items {
  
}

.menu_derecha .items .item {
  height: 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  width: 5vw;
  transition: all .2s .2s;
}

.menu_derecha .items .item:hover {
  cursor: pointer;
  background: #515C6F;
  transition: all .2s .2s;
  border-bottom-left-radius: .8vw;
  border-top-left-radius: .8vw;
}

.menu_derecha .items .item .padre {
  width: 100%;
}

.menu_derecha .items .item .padre i {
  display: block;
  font-size: 1.8vw;
  color: #515C6F;
  margin-bottom: .5vw;
  user-select: none;
  transition: all .2s .2s;
}

.menu_derecha .items .item:hover i {
  color: #F2F3F6;
  transition: all .2s .2s;
}

.menu_derecha .items .item .padre span {
  display: block;
  color: #515C6F;
  font-size: .8vw;
  user-select: none;
  transition: all .2s .2s;
}

.menu_derecha .items .item:hover span {
  color: #F2F3F6;
  transition: all .2s .2s;
}

/*Modales*/

.modale {
  position: fixed;
  background: #515C6F9F;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition: all .2s .2s;
}

.modale.active {
  opacity: 1;
  z-index: 999;
  transition: all .2s .2s;
}

.modale .modale_content {
  position: absolute;
  width: 60vw;
  background: #fff;
  height: 40vw;
  margin-left: calc(50% - 30vw);
  border-radius: .5vw;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.modale .modale_content .snackbar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  background: #515C6F;
  height: 5vw;
  top: 0;
  border-top-left-radius: .5vw;
  border-top-right-radius: .5vw;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.modale .modale_content .snackbar .bar {
  width: 100%;
}

.modale .modale_content .snackbar .bar .name {
  width: 16vw;
  display: inline-block;
  padding-left: 2vw;
}

.modale .modale_content .snackbar .bar .name span {
  color: #F2F3F6;
  font-size: 1vw;
  font-weight: 800;
}

.modale .modale_content .snackbar .bar .opciones {
  width: auto;
  display: inline-block;
  float: right;
  padding-right: 3vw;
}

.modale .modale_content .snackbar .bar .opciones i {
  color: #F2F3F6;
  display: inline-block;
  user-select: none;
  font-size: 1.5vw;
  margin-right: .8vw;
}

.modale .modale_content .snackbar .bar .opciones i:hover {
  cursor: pointer;
}

.modale .modale_content .body {
  position: absolute;
  width: 100%;
  height: calc(100% - 5vw);
  top: 5vw;
  overflow-y: auto;
  padding: 2vw;
}

.modale .modale_content .body p.titulo {
  font-size: 1.2vw;
  font-weight: 700;
  margin: 1vw 0;
  color: #515C6F;
}

.modale .modale_content .body .button_div {
  text-align: right;
  padding-right: 1vw;
}

.modale .modale_content .body .button_div .button_add {
  background: #FF5B7F;
  font-size: 1vw;
  text-transform: none;
}

.modale .modale_content .body .button_div .button_add i {
  font-size: 1vw;
}

.table_ings {
  font-size: .9vw;
}

.table_ings tr {
  
}

.table_ings tr td {
  text-align: center;
}

.table_ings tr td iframe {
  width: 20vw;
  height: 10vw;
}

.table_ings .table_ingHead {

}

.table_ings .table_ingBody {

}

.photo_div {

}

.photo_div .item {

}

.photo_div .item .preview {
  width: 15vw;
  margin: 0 auto;
  height: 12vw;
  display: flex;
  align-items: center;
  background: #F2F3F6;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.photo_div .item .preview .btn_addphoto {
  display: block;
  margin: 0 auto;
  font-size: 2.4vw;
  user-select: none;
}

.photo_div .item .preview .btn_addphoto:hover {
  cursor: pointer;
}

.photo_div .item .preview .btn_addphoto:active {
  transform: scale(0.96);
}

.recetas_populares {
  background: #F2F3F6;
  width: 100%;
  height: 22vw;
  margin: 0;
  position: relative;
}

.recetas_populares .titulo {
  padding: 2vw 5vw;
}

.recetas_populares .titulo span {
  font-size: 1.2vw;
  color: #000;
  font-weight: 800;
}

.recetas_listado {
  width: 100%;
  height: auto;
  margin: 0;
}

.recetas_listado .titulo {
  padding: 2vw 5vw;
}

.recetas_listado .titulo span {
  font-size: 1.2vw;
  color: #000;
  font-weight: 800;
}

.recetas_listado .recetas {
  padding: 2vw 5vw;
}

.recetas_listado .recetas .row {
  margin: 0;
  width: 100%;
}

.recetas_listado .recetas .row .col.main {
  margin-bottom: 1.5vw;
}

.contenedor {
  background: #fff;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.recetas_listado .recetas .row .col.main .section {

}

.recetas_listado .recetas .row .col.main .section.a {
  background: linear-gradient(to right, #FF5B7F, #FC9970);
  display: flex;
  align-items: center;
  height: 4vw;
  padding: 0 1.3vw;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.recetas_listado .recetas .row .col.main .section.a .txt {
  display: block;
  width: 100%;
}

.recetas_listado .recetas .row .col.main .section.a .txt .a {
  color: #f8f8f8;
  font-weight: 800;
  font-size: 1.2vw;
}

.recetas_listado .recetas .row .col.main .section.a .txt .b {
  color: #f8f8f8;
  font-size: .9vw;
}

.recetas_listado .recetas .row .col.main .section.b {
  padding: 0;
}

.recetas_listado .recetas .row .col.main .section.b .col {
  padding: 0 .5vw;
}

.recetas_listado .recetas .row .col.main .section.b .col img {
  width: 100%;
  height: 5vw;;
}

.tabla_ingredientes {

}

.tabla_ingredientes thead {
  background: #000;
  color: #fff;
  text-align: center;
}

.tabla_ingredientes thead tr {
  
}

.tabla_ingredientes thead td {
  text-align: center;
  font-size: .9vw;
}

.tabla_ingredientes tbody tr {
  
}

.tabla_ingredientes tbody td {
  text-align: center;
  font-size: .9vw;
}

.swiper-container.swiper_imagenes {
  height: 18vw;
}

.swiper-container.swiper_video {
  height: 18vw;
}

.swiper-container img {
  width: 100%;
  height: 100%;
}

.swiper-container iframe {
  width: 78%;
  height: 78%;
  display: block;
  margin: 0 auto;
  margin-top: 11%;
}

.opciones2 {
  height: 4vw;
  background: #f8f8f8;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.opciones2 .likes {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

.opciones2 .likes div {
  width: 100%;
}

.opciones2 .likes i {
  font-size: 1vw;
}

.opciones2 .likes i:hover {
  cursor: pointer;
}

.opciones2 .likes span {
  font-size: .9vw;
}

.opciones2 .favorito {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2vw;
}

.opciones2 .favorito div {
  width: 100%;
}

.opciones2 .favorito i {
  font-size: 1vw;
}

.opciones2 .favorito i:hover {
  cursor: pointer;
}

.opciones2 .favorito span {
  font-size: .9vw;
}

.main_slider {
  width: 100%;
  height: 22vw;
}

.main_slider .row.main {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.main_slider .row.main .col.main {
  height: auto;
  padding: 0 4vw;
}

.main_slider .row.main .col.main .titulo {
  margin: 0;
  padding: 2vw 0;
  height: 8vw;
}

.main_slider .row.main .col.main .titulo .nombre {
  font-size: 1.5vw;
}

.main_slider .row.main .col.main .titulo .apodo {
  font-size: 1vw;
  font-weight: 400;
}

.main_slider .row.main .col.main .titulo .likes {
  font-size: 1vw;
  font-weight: 500;
}

.main_slider .row.main .col.main .imagenes {
  margin: 0;
}

.main_slider .row.main .col.main .imagenes .col {
  height: 15vw;
}

.main_slider .row.main .col.main .imagenes .col img {
  width: 100%;
}



